* {
    margin: 0;
    padding: 0;
}

.box-one {
    border: 5px solid black;
    height: 300px;
    margin: 20px;
    width: 96%;
    position: relative;
}

.purple-box {
    background-color: blueviolet;
    height: 180px;
    width: 60px;
    margin-top: 110px;
    margin-left: 10px;
}

.green-box {
    background-color: green;
    width: 500px;
    height: 280px;
    position: absolute;
    left: 150px;
    bottom: 10px;
    top: 10px;
}

.blue-circle {
    background: blue;
    width: 300px;
    height: 280px;
    position: absolute;
    left: 600px;
    border-radius: 100%;
}

.box-two {
    border: 5px dotted black;
    height: 300px;
    margin: 20px;
}

.yellow-box {
    height: 230px;
    margin: 40px;
    background-color: #fffacd;
    box-shadow: 10px 10px 10px black;
}

.box-three {
    height: 230px;
    width: 50%;
    margin: auto;
    border: 1px solid lightgrey;
}

.text-location {
    margin: 80px auto;
}

.hello-friends {
    color: darkblue;
    text-align: center;
    letter-spacing: .4em;
}